 {
 "button": {"iconPosition":"left","isToggle":false,"iconOffsetX":0,"hasIcon":true,"iconOffsetY":0,"horizontalAlign":"center","verticalAlign":"middle","upSkin":"check-down-icon"},
 "buttonGroup":{},
 "groupedList":{"hasElasticEdges":true,"style":"normal","isSelectable":true},
 "list":{"hasElasticEdges":true,"isSelectable":true},
 "pageIndicator":{},
 "pickerList":{},
 "progressBar":{},
 "scrollText":{},
 "slider": {"step":1,"page":10,"direction":"horizontal","liveDragging":true},
 "tabBar":{},
 "textInput":{},
 "toggles":{}
 }
